body {
    font-family: sans-serif; 
    background-color: #f0f2f5; 

}

/* Só para o index e o formulario*/
.modo-login {
    height: 100vh; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../Img/fundo_login4.jpg');  
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card-login {
    width: 100%;
    max-width: 400px; 
    padding: 20px;
    background-color: rgb(251, 251, 251);
    
}

.card-cadastro {
    width: 100%;
    max-width: 500px; 
}


.btn-custom {
    background-color: #900C3F; 
    color: white;
    border: none;
}

.btn-custom:hover {
    background-color: #581845; 
    color: white;
}

.table-theme thead th {
    background-color: #900C3F; 
    color: white;
    border: none;
}