/* Arquivo: style.css */

body {
    background-color: #f0f2f5; /* Cor de fundo suave */
    height: 100vh; /* Força o corpo a ter a altura total da tela */
    display: flex; /* Ativa o Flexbox */
    align-items: center; /* Centraliza verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1)),
    url('/Imagem/fundo_login4.jpg');
    background-repeat: no-repeat;  /* 1. Proíbe a repetição (tira os quadradinhos) */
    background-size: cover;        /* 2. Estica a imagem para COBRIR a tela toda */
    background-position: center;
    ;
}

/* Estilo específico para o cartão de login */
.card-login {
    width: 100%;
    max-width: 400px; /* Largura máxima um pouco menor */
    padding: 20px;
    background-color: rgb(251, 251, 251);
    
}

/* Estilo específico para o cartão de cadastro */
.card-cadastro {
    width: 100%;
    max-width: 500px; /* Largura máxima um pouco maior */
}

/* Botão Personalizado - Estilo Biblioteca */
.btn-custom {
    background-color: #095fa6; /* Um vinho bonito */
    color: white;
    border: none;
}

.btn-custom:hover {
    background-color: #0a0fab; /* Um vinho mais escuro quando passa o mouse */
    color: white;
}